@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 3px 4px 3px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid;
}

.btn {
  display: flex;
  gap: 3px;
}

#toggle-counter {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#toggle-counter button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#toggle-counter button:hover {
  background-color: #45a049;
}

#toggle-counter button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scale: 1.5;
}
